<div>
    <span class="ui-uat-ext-title">Steps: </span>
</div>
<table>
    <tr class="ui-br-uat-th">
        <th>#</th>
        <th class="ui-br-ext-width-half">Description</th>
        <th class="ui-br-ext-width-half">Expected results</th>
        <th></th>
    </tr>
    <tr *ngFor="let step of steps; index as i" class="ui-br-ext-width-full ui-uat-ext-staep-details-row">
        <td>{{step.order + 1}}</td>
        <td class="ui-br-ext-width-half">{{step.description}}</td>
        <td class="ui-br-ext-width-half">{{step.expectedResults}}</td>
        <td>
            <div class="ui-uat-ext-drop-menu">
                <span class="ui-uat-svg-icon ui-uat-ext-more-btn">
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-more-horizontal"><circle cx="12" cy="12" r="1"/><circle cx="19" cy="12" r="1"/><circle cx="5" cy="12" r="1"/></svg>
                </span>
                <div class="ui-uat-ext-drop-menu-body">
                    <ul>
                        <li (click)="onStepEdit(step)">Edit</li>
                        <li (click)="onStepAdd(i)">Add</li>
                        <li (click)="onImportSteps(i)">Import</li>
                        <li (click)="moveStep(i)" class="ui-br-uat-move-up">Move Up</li>
                        <li (click)="moveStep(i+1)" class="ui-br-uat-move-down">Move Down</li>
                        <li (click)="onDeleteStep(i)">Delete</li>
                    </ul>
                </div>
            </div>
        </td>
    </tr>
</table>
<div class="ui-br-ext-flex ui-br-ext-justify-end ui-br-ext-btn-link-group">
    <button (click)="onImportSteps()" class="ui-br-ext-btn-link">Import steps</button>
    <button (click)="onStepAdd()" class="ui-br-ext-btn-link">Add new step</button>
</div>
<app-modal *ngIf="isAddStepModalOn" (closeModal)="toggleModal('addnewStepModal')" [propClass]="'ui-br-ext-width-full'">
    <app-create-step (cancel)="toggleModal('addnewStepModal')" [stepToEdit]="stepToEdit" [stepIndex]="stepIndex"></app-create-step>
</app-modal>
<app-modal *ngIf="isDeleteModalOn" (closeModal)="toggleModal('deleteStepModal')">
    <app-delete-step (deleteStep)="deleteStep()" (cancel)="toggleModal('deleteStepModal')" [stepToDelete]="stepToDelete"></app-delete-step>
</app-modal>
<app-import-steps [stepIndex]="stepIndex"></app-import-steps>

