<div class="ui-br-ext-dropdown-item ui-br-ext-create-case">
    <div class="ui-br-ext-page-content">

        <div class="ui-br-ext-drop-title-wrap">
            <div class="ui-br-ext-drop-title">Events</div>
            <app-minimize-drop-body (minimizePage)="minimizePage($event)" class="ui-br-ext-minimizedropbody2"></app-minimize-drop-body>
        </div>
        <div class="ui-br-ext-drop-body"  id="uiBrExtCreateEvent"  [ngClass]="{'ui-br-ext-hide': !showHide}">
            <app-tabs [tabs]="tabs" (activeTab)="setActiveTab($event)"></app-tabs>
            <div class="ui-br-ext-container ui-br-ext-dropdown" [ngSwitch]="activeTab" >
                <app-create-event *ngSwitchCase="'create'"></app-create-event>
                <!-- <app-bug-details *ngSwitchCase="'details'"></app-bug-details> -->
            </div>
            
            <app-resize [pageId]="'uiBrExtCreateEvent'"></app-resize>
        </div>
    </div>
</div>