.ui-br-ext-create-page {
    .ui-br-ext-page-content {
        .ui-br-ext-drop-body {
            width: 50vw;
            height: 50vh;
            .ui-br-ext-btn-link-group {
                padding-bottom: 50px;
            }
        }
    }
}