<ng-container *ngIf="!title">
    <div class="ui-br-ext-flex ui-br-ext-justify-end">
        <button (click)="addTitle()" class="ui-br-ext-btn-link">Add event title</button>
    </div>
</ng-container>
<ng-container *ngIf="title">
    <div class="ui-uat-ext-case-title">
        <span class="ui-uat-ext-title ">Title: </span>
        <span >{{title}}</span>
        <app-more-button-menu [actions]="actions" (onAction)="onAction($event)"></app-more-button-menu>
    </div>
</ng-container>

<app-modal *ngIf="isEventTitleModalOn" (closeModal)="toggleModal()">
    <app-create-event-title (cancel)="toggleModal()" [title]="titleToEdit" (titleEmit)="saveTitle($event)"></app-create-event-title>
</app-modal>