<div class="ui-br-ext-form-container">
    <h3>Update password</h3>
    <div class="ui-br-ext-width-full">
        <form [formGroup]="passwordForm" novalidate #form autocomplete="off">
            <div class="ui-br-ext-form-container ui-br-ext-textarea">
                <label for="label">oldPassword</label>
                <input type="password" name="label" formControlName="oldPassword" id="oldPassword" />
                <div *ngIf="oldPassword.invalid && (oldPassword.dirty || oldPassword.touched)" class="ui-br-ext-message">
                    <div *ngIf="oldPassword.errors?.['required']">
                        Old password is required.
                    </div>
                </div>
            </div>
            <div class="ui-br-ext-spacer-2"></div>
            <div class="ui-br-ext-form-container ui-br-ext-textarea">
                <label for="label">New password</label>
                <input type="password" name="label" formControlName="newPassword" id="newPassword"/>
                <div *ngIf="newPassword.invalid && (newPassword.dirty || newPassword.touched)" class="ui-br-ext-message">
                    <div *ngIf="newPassword.errors?.['required']">
                        New password is required.
                    </div>
                </div>
            </div>
            <div class="ui-br-ext-spacer-2"></div>
            <div class="ui-br-ext-form-container ui-br-ext-textarea">
                <label for="label">Confirm password</label>
                <input type="password" name="label" formControlName="confirmPassword" id="confirmPassword"/>
                <div *ngIf="confirmPassword.dirty || confirmPassword.touched" class="ui-br-ext-message">
                    <div *ngIf="confirmPassword.errors?.['required']">
                       Confirm password is required.
                    </div>
                    <div *ngIf="confirmPassword.errors?.['passwordMatch']">
                       Password mismatch.
                    </div>
                </div>
            </div>
        </form>
        <div class="ui-br-ext-btn-group">
            <button class="ui-br-ext-btn"  data-listener="off" (click)="onSubmit()">
                <span class="ui-br-ext-spinner"></span>
                <span>Submit</span> 
            </button>
            <button class="ui-br-ext-btn-danger"  data-listener="off" (click)="onCancel()">
                <span class="ui-br-ext-spinner"></span>
                <span>Cancel</span> 
            </button>
        </div>
    </div>
</div>

