
<div class="ui-br-ext-dropdown-item ui-br-ext-create-case">
    <div class="ui-br-ext-page-content">

        <div class="ui-br-ext-drop-title-wrap">
            <div class="ui-br-ext-drop-title">Create new test case</div>
            <app-minimize-drop-body (minimizePage)="minimizePage($event)" class="ui-br-ext-minimizedropbody2"></app-minimize-drop-body>
        </div>
        <div class="ui-br-ext-drop-body"  id="uiBrExtCreatePage"  [ngClass]="{'ui-br-ext-hide': !showHide}">
            <app-case-title></app-case-title>
            <ng-container *ngIf="testCase.title">
                <br>
                <app-case-steps></app-case-steps>
            </ng-container>
            
            <app-resize [pageId]="'uiBrExtCreatePage'"></app-resize>
        </div>
        <app-modal *ngIf="caseChoiceModalOn" (closeModal)="toggleModal()">
            <div class="ui-br-ext-form-container">
                <h3>Case title</h3>
                <p>Would you like to create a new test case or continue the previous one?</p>
                <div class="ui-br-ext-width-full">
                    <div class="ui-br-ext-btn-group">
                        <button class="ui-br-ext-btn"  data-listener="off" (click)="toggleModal()">
                            <span>Create</span> 
                        </button>
                        <button class="ui-br-ext-btn-danger"  data-listener="off" (click)="onContinue()">
                            <span>Continue</span> 
                        </button>
                    </div>
                </div>
            </div>
        </app-modal>
    </div>
</div>