<div 
class="ui-br-ext-header" 
id="ui-br-ext-header" 
(mousedown)="onMouseDown($event)" 
(touchstart)="onTouchStart($event)"
style="outline: none !important;"
>
    <div class="ui-br-ext-menu-container ui-br-ext-container ui-br-ext-alwaysOn">
        <app-execute-btn></app-execute-btn>
        <app-search-btn></app-search-btn>
        <app-event-btn></app-event-btn>
        <app-create-btn></app-create-btn>
        <app-regretion-btn></app-regretion-btn>
        <app-settings-btn></app-settings-btn>
        <app-close-btn></app-close-btn>
    </div>
</div>