<div 
class="ui-br-ext-header" 
id="ui-br-ext-header" 
(mousedown)="onMouseDown($event)" 
(touchstart)="onTouchStart($event)"
style="outline: none !important;"
>
    <div class="ui-br-ext-menu-container ui-br-ext-container ui-br-ext-alwaysOn">
        <ng-container *ngIf="!editing">
            <app-execute-btn></app-execute-btn>
            <app-search-btn></app-search-btn>
            <app-event-btn></app-event-btn>
            <app-create-btn></app-create-btn>
            <app-regretion-btn></app-regretion-btn>
            <app-settings-btn></app-settings-btn>
        </ng-container>
        <ng-container  *ngIf="editing">
            <app-pointer-btn></app-pointer-btn>
            <app-text-btn></app-text-btn>
            <app-square-btn></app-square-btn>
            <app-circle-btn></app-circle-btn>
            <app-line-btn></app-line-btn>
            <app-arrow-btn></app-arrow-btn>
            <app-highlight-btn></app-highlight-btn>
            <app-close-btn></app-close-btn>
        </ng-container>
    </div>
</div>