<div>
    <span class="ui-uat-ext-title">Steps: </span>
</div>

<div class="ui-uat-ext-steps">
    <div class="ui-uat-ext-step ui-uat-ext-table-header">
        <div class="ui-uat-ext-step-number">#</div>
        <div class="ui-uat-ext-step-description">Description</div>
        <div class="ui-uat-ext-step-expectedResults">Expected Results</div>
        <div class="ui-uat-ext-step-more"></div>
    </div>
    <div class="ui-uat-ext-step" *ngFor="let step of steps; index as i">
        <div class="ui-uat-ext-step-number">{{step.order + 1}}</div>
        <div class="ui-uat-ext-step-description">{{step.description}}</div>
        <div class="ui-uat-ext-step-expectedResults">{{step.expectedResults}}</div>
        <div class="ui-uat-ext-step-more">
            <app-more-button-menu [actions]="actions" (onAction)="onAction($event, i)"></app-more-button-menu>
        </div>
    </div>

</div>
<div class="ui-br-ext-flex ui-br-ext-justify-end ui-br-ext-btn-link-group">
    <button (click)="onImportSteps()" class="ui-br-ext-btn-link">Import steps</button>
    <button (click)="onStepAdd()" class="ui-br-ext-btn-link">Add new step</button>
</div>
<app-modal *ngIf="isAddStepModalOn" (closeModal)="toggleModal('addnewStepModal')" [propClass]="'ui-br-ext-width-full'">
    <app-create-step (cancel)="toggleModal('addnewStepModal')" [stepToEdit]="stepToEdit" [stepIndex]="stepIndex"></app-create-step>
</app-modal>
<app-modal *ngIf="isDeleteModalOn" (closeModal)="toggleModal('deleteStepModal')">
    <app-delete-step (deleteStep)="deleteStep()" (cancel)="toggleModal('deleteStepModal')" [stepToDelete]="stepToDelete"></app-delete-step>
</app-modal>
<app-import-steps [stepIndex]="stepIndex"></app-import-steps>

