<ng-container *ngIf="!environment.environmentId">
    <div class="ui-br-ext-flex ui-br-ext-justify-end">
        <button (click)="addEnvironment()" class="ui-br-ext-btn-link">Choose test environment</button>
    </div>
</ng-container>
<ng-container *ngIf="environment.environmentId">
    <div class="ui-uat-ext-case-title">
        <span class="ui-uat-ext-title ">Environment: </span>
        <span >{{environment.name}}</span>
        <app-more-button-menu [actions]="actions" (onAction)="onAction($event)"></app-more-button-menu>
    </div>
</ng-container>
<app-modal *ngIf="isEventEnvironmentModalOn" (closeModal)="toggleModal()">
    <app-environment-choice (cancel)="toggleModal()" [environment]="environmentToEdit" [environments]="environments" (environmentEmit)="saveEnvironment($event)"></app-environment-choice>
</app-modal>