.ui-br-ext-extension {    
    .ui-uat-ext-drop-menu {
        position: relative;
        &:hover {
            .ui-uat-ext-drop-menu-body {
                display: block; 
            }
            .ui-uat-svg-icon {
                svg {
                    color: #00ad55;
                    transform: scale(1.2);
                }
            }
        }
        .ui-uat-ext-drop-menu-body {
            position: absolute;
            background-color: #ffffff;
            box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
            top: 20px;
            right: 0;
            border-radius: 3px;
            width: max-content;
            z-index: 10;
            display: none;

            ul {
                list-style: none;
                margin: 0;
                padding: 0;
                li {
                    padding: 8px 16px;
                    cursor: pointer;
                    &:hover {
                        background-color: #f1f1f1;
                    }
                }
            }
        }
    }
}