
.ui-br-uat-editor {

    .ui-br-aut-canvas-container {
        position: relative;

        .resize-element {
            resize: both;
            overflow: auto;
            height: 50px;
            width: 100px;
            position: absolute;
            top: calc(50% - 50px);
            left: calc(50% - 50px);
            color: red;
        }
        
        .border-1 {
            border: 1px solid red;
        }

        .circle {
            border-radius: 50%;
        }

        .contenteditable {
            color: red;
        }
        
        .copy {
            cursor: copy !important;
        }
    }

}

 