<div class="ui-br-ext-dropdown-item ui-br-ext-create">
    <div class="ui-br-ext-page-content">
        <div class="ui-br-ext-drop-title-wrap">
            <app-minimize-drop-body (minimizePage)="minimizePage($event)" class="ui-br-ext-minimizedropbody2"></app-minimize-drop-body>
        </div>
        <div class="ui-br-ext-drop-body"  id="uiBrExtExecute" [ngClass]="{'ui-br-ext-hide': !showHide}">
            <div class="ui-br-ext-spacer-5"></div>
            <div class="ui-br-ext-width-half ui-br-ext-margin-auto">
                editor
            </div>

            <app-resize [pageId]="'uiBrExtExecute'"></app-resize>
        </div>
    </div>
</div>
