<div class="ui-br-ext-dropdown-item ui-br-ext-create-page">
    <div class="ui-br-ext-page-content">
        <div class="ui-br-ext-drop-body"  id="uiBrExtCreate"  [ngClass]="{'ui-br-ext-hide': !showHide}">
            <app-event-title></app-event-title>
            <br>
            <app-event-description></app-event-description>
            <ng-container *ngIf="event.title">
            </ng-container>
            <app-resize [pageId]="'uiBrExtCreate'"></app-resize>
        </div>
    </div>
</div>