
<div class="ui-br-ext-dropdown-item ui-br-ext-create-page">
    <div class="ui-br-ext-page-content" id="uiBrExtCreate">

        <div class="ui-br-ext-drop-title-wrap">
            <div class="ui-br-ext-drop-title">Create new test case</div>
            <app-minimize-drop-body (minimizePage)="minimizePage($event)" class="ui-br-ext-minimizedropbody2"></app-minimize-drop-body>
        </div>
        <div class="ui-br-ext-drop-body"   [ngClass]="{'ui-br-ext-hide': !showHide}">
            <ng-container *ngIf="!title">
                <div class="ui-br-ext-flex ui-br-ext-justify-end">
                    <button (click)="toggleModal('one')" class="ui-br-ext-btn-link">Add case title</button>
                </div>
            </ng-container>
            <ng-container *ngIf="title">
                <div>
                    <span class="ui-uat-ext-title ">Case title: </span><span data-title="Click to edit" class="ui-uat-show-data-tooltip" (click)="onCaseTitleEdit(title)">{{title}}</span>
                </div>
                <br>
                <div>
                    <span class="ui-uat-ext-title">Steps: </span>
                </div>
                <table>
                    <tr>
                        <th>Description</th>
                        <th>Expected results</th>
                      </tr>
                    <tr *ngFor="let step of steps; index as i" class="ui-br-ext-width-full">
                        <td class="ui-br-ext-width-half">{{step.description}}</td>
                        <td class="ui-br-ext-width-half">{{step.expectedResults}}</td>
                        <td>
                            <div class="ui-uat-ext-drop-menu">
                                <span class="ui-uat-svg-icon">
                                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-more-horizontal"><circle cx="12" cy="12" r="1"/><circle cx="19" cy="12" r="1"/><circle cx="5" cy="12" r="1"/></svg>
                                </span>
                                <div class="ui-uat-ext-drop-menu-body">
                                    <ul>
                                        <li>
                                            <button (click)="toggleModal('two')" class="ui-br-ext-btn-link">Edit</button>
                                        </li>
                                        <li>
                                            <button (click)="moveUp()" class="ui-br-ext-btn-link">Move Up</button>
                                        </li>
                                        <li>
                                            <button (click)="moveDown()" class="ui-br-ext-btn-link">Move Down</button>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            
                        </td>
                    </tr>
                </table>
                <div >
                    <div></div>
                    <div></div>
                </div>
                <div class="ui-br-ext-flex ui-br-ext-justify-end">
                    <button (click)="toggleModal('two')" class="ui-br-ext-btn-link">Add new step</button>
                </div>
            </ng-container>
            <app-modal *ngIf="isModalOneOn" (closeModal)="toggleModal('one')">
                <app-create-case-title (saveTitle)="saveTitle($event)" (cancel)="toggleModal('one')" [title]="titleToEdit"></app-create-case-title>
            </app-modal>
            <app-modal *ngIf="isModalTwoOn" (closeModal)="toggleModal('two')" [propClass]="'ui-br-ext-width-full'">
                <app-create-step (saveStep)="saveStep($event)" (cancel)="toggleModal('two')" [stepToEdit]="stepToEdit"></app-create-step>
            </app-modal>
            
            <app-resize [pageId]="'uiBrExtCreate'"></app-resize>
        </div>
    </div>
</div>